 #editor {
        
        height: 400px;
    }

    #example, #example1 {
        
        width: 470px;
        height: 200px;
    }

    #example2{
        width: 470px;
        height: 250px;
       
    }

    #example3{
        width: 470px;
        height: 250px;
       
    }
